@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    background-color: rgba(239, 248, 246, 0.964);
}

/* HEADER  */
.container{
    display: flex;
    background-color:  rgba(0, 78, 180, 0.953);
    width: 100%;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
}

.navbar{
    display: flex;
    margin-right: 2.5rem;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;  
}


h1{
    color: white;
    margin-left: 1.5rem;
}

a{
    text-decoration:none;
    color: white;
}

@media(max-width: 750px){
   h1{
    font-size: 1.2rem;
    
   }
}
@media(max-width: 750px){
 a{
    font-size: 0.7rem;
 }
}
/* @media(max-width: 750px){
  .navbar{
    display: flex;
    justify-content: space-around;
    gap: 0.7rem;
    }
} */

@media(max-width: 750px){
 a{
    font-size: 0.7rem;
 }
}

@media(max-width: 750px){
  .navbar{
    display: flex;
    justify-content: space-around;
    gap: 0.7rem;
    }
}


/* HERO section */

.container1{
    /* margin-top: 3rem; */
    display: flex;
    gap: 7rem;
}

.heading{
    color: black;
    font-size: 6rem;
    margin-top: 3rem;
}
.heading1{
    color: rgb(248, 90, 84);
    font-size: 6rem;
    margin-top: 1.5rem;
}

.profile{
    margin-top: 1rem;
    display: flex;
    /* float: right;  */
    height: 23rem;
    width: 30rem;
    border-radius: 60%;
    object-fit: cover;
    /* margin-bottom: 20rem; */
}

.line{
    color: grey;
    margin-left: 2rem;
    font-size: 1.5rem;
    
}

.heading2{
    color: black;
    margin-top: 5rem;
    font-size: 3rem;
}

.para{
    margin-left: 1.7rem;
    margin-top: 1rem;
}
.heading3{
    color: black;
    font-size: 3rem;
    margin-top: 2rem;
}

/* MY SKILLS SECTION  */
.skills-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* background-color:   rgba(0, 78, 180, 0.953); */
    gap: 1.5rem;
    /* max-width: 1500px; */
    padding: 2rem 4rem;
}
.skill-card{
    color: white;
    background-color:  rgba(0, 78, 180, 0.953); 
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    /* margin: 3rem; */
    /* padding-left: 10px; */
    
}

.text{
    margin-left: 1.5rem;
    font-size: 3rem;
    margin-top: 1rem;

}
.textCenter{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.projectContainer {
    display: grid;
    grid-template-rows:repeat(1,1fr) ;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    /* border: 2px solid black; */

}

.projectBox {
    background: #fff;
    /* margin: 0 auto; */
    /* padding: 1rem 15rem; */
    border-radius: 8px;
    border: 1px solid #808080;
    height: 20rem;
    width: 65rem;
    align-items: center;
    justify-content: center;

}

/* .projectContainer1 {
    display: grid; 
    grid-template-rows:repeat(1,2fr) ;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
} */


/* CONTACT ME  */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contactcontainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30rem;
    height: 24rem; 
    
}
.contactcontainer1{
    margin-bottom: 1rem;

}

.contact{
    width: 24rem;
    height: 2rem;
    border: 2px solid   rgba(0, 78, 180, 0.953);
    border-radius: 4px;   
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(0, 78, 180, 0.953);
    border: none;
    width: 24rem;
    height: 3rem;
    border-radius: 0.3rem;
    color: white;
    margin-top: 1.5rem;
    transition-property: background-color;
    /* transition-duration: 1s; */
    transition-timing-function: ease-out;
    transition-delay: 0.5s;
    transition: all;
}


.button{
    display: flex;
    justify-content: center;
}

button:hover{
    background: blue;
    /* color: black; */
    /* border: 2px solid   rgba(0, 78, 180, 0.953); */
    
}
/* FOOTER  */
.footer{
    background-color:  rgba(0, 78, 180, 0.953) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin-top: 3rem;
}

footer{
    color: white;
}

/* BACK BUTTON  */

.buttoncontainer{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
    height: 5rem;
}

.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 10rem;
}

/* MEDIA QUERIES  */


@media ( max-width:750px) {
    .contactcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* margin-left: 50px; 
        margin-right:50px; */
        width: 20rem;
        height: 24rem;
    }
    .contact{
         width: 15rem;
         height: 2rem;   
    }

    button{
    display: flex;
    width: 15rem;
    height: 3rem;
}
}

/* MEDIA QUERIES  */

@media ( max-width:750px) {
.footertext{
    font-size: 0.6rem;
}
}

@media ( max-width:750px) {
 .button1{
    height: 2rem;
    width: 7rem;
}
}

@media (min-width:750px) and (max-width:1250px) {
    .contactcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 25rem;
        /* margin-left: 9rem;  */
        /* margin-right: 9rem; */
        height: 24rem;
    }

    .contact{
         width: 20rem;
         height: 2rem;   
    }

    button{
    display: flex;
    width: 20rem;
    height: 3rem;
}
}


@media (min-width:750px) and (max-width:1250px) {
    .projectBox{
        width: 500px;
    }
    .textCenter{
        font-size: 1rem;
    }
}

@media ( max-width:750px) {
    .projectBox{
        width:300px;
        /* padding: 10px,150px; */
        font-size: 0.7rem;
    }

    .textCenter{
        font-size: 0.rem;
    }
}


@media (max-width:750px) {
    .skills-container{
        display: flex;
        flex-direction: column;
    }
}


@media (max-width:750px) {
    .container1{
        display:flex;
        flex-direction: column;
        background-color: aliceblue;
        gap: 2rem;
        align-items: center;
        align-content: center;
    }
}

@media (max-width:750px) {
    .heading{
    font-size: 3rem;
    margin-left: 2rem;
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    }
}

@media (max-width:750px) {
    .heading1{
    font-size: 3rem;
    /* align-items: center;
    align-content: center; */
    /* justify-content: center; */
    }
}

@media (max-width:750px) {
    .profile{
    /* display: flex; */
    height: 15rem;
    width: 15rem;
    margin-bottom: 4rem;
    }
}

@media (max-width:1000px) {
    .profile{
    height: 18rem;
    width: 18rem;
    border-radius: 500%;
    }
    .heading{
    font-size: 4rem;
    margin-top: 3rem;
    }
 .heading1{
    font-size: 4rem;
    margin-top: 1.5rem;
}
}